textarea {
  color: #333333;
}

a {
  display: inline-block;
  transition:.3s;
  transform: scale(1);
  color: #00A5A8;
}
a:hover {
  color:#00A5A8;
}

h1 {
  padding: 0.4em 0.5em;
  color: #494949;
  margin-bottom: 5px !important;
}

.css-1999axt-MuiAvatar-root {
  background-color: #00A5A8 !important;
}

button.MuiButton-root {
  background-color: #87CAAC !important;
}

div#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;;
}

main > .MuiBox-root {
  margin-top: 5px;
}